@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: #2A2A2A;

    --project-list-card-height: 300px;
    --project-list-card-width: 300px;
    --project-card-height: 200px;
    --project-card-width: 200px;

    --global-width: 70vw;
}

body {
    background-color: var(--background-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

header#header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;
    width: var(--global-width);

    margin-top: 50px;

    border-color: yellow;
    border-width: 1px;
    border-style: solid;
}

div#header-title-container {
    height: 200px;
    width: 70vw;

    border-color: firebrick;
    border-width: 1px;
    border-style: solid;
}

h1#header-title {
    color: #CACACA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;

    border-color: cyan;
    border-width: 1px;
    border-style: solid;
}

p#header-subtitle {
    color: #8A8A8A;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    border-color: cyan;
    border-width: 1px;
    border-style: solid;
}

nav#navbar {
    width: var(--global-width);
    
    border-color: blue;
    border-width: 1px;
    border-style: solid;
}

ul#navbar-nav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li.navbar-list-item {
    margin-right: 10px;
    margin-bottom: 15px;
}

button.navbar-item-button {
    color: rgb(153, 153, 153);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;

    border: none;
    background-color: #313131;
    box-shadow: #222222;

    padding-top: 5px;
    padding-bottom: 5px;

}

button.navbar-item-button:hover {
    /* h-offset v-offset blur spread color inset */
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.24);
}

button.navbar-item-button:active {
    box-shadow: 5px 10px 15px 0px rgba(0,0,0,0.24) inset;
}

main {
    width: var(--global-width);

    /* display: flex;
    justify-content: center;
    align-items: center; */

    border-color: darkblue;
    border-width: 1px;
    border-style: solid;
}

div#filtered-by-container {
    width: var(--global-width);

    border-color: pink;
    border-width: 1px;
    border-style: solid;
}

p#filtered-by-text {
    color: rgb(138, 138, 138);
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

ul#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-color: black;
    border-width: 1px;
    border-style: solid;
}

li.project-list-card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    list-style-type: none;
    padding: auto;

    height: var(--project-list-card-height);
    width: var(--project-list-card-width);

    transition: transform 500ms;
    transition-timing-function: ease;

    border-color: white;
    border-width: 1px;
    border-style: solid;
}

li.project-list-card-container:hover{
    transform: translate(20px, 20px);
}

div.project-card {
    height: 0;
    width: var(--project-list-card-width);

    transition: transform 500ms;

    /* background-color: #8A8A8A; */
}

div.project-card:hover {
    transform: 50px;
}

div.project-card {
    display: flex;
    justify-content: center;
    align-items: center;

    height: var(--project-card-height);
    width: var(--project-card-width);

    border-color: red;
    border-width: 1px;
    border-style: solid;
    
}

img.project-card-img {
    max-width: 266px;
    max-height: 95px;
}

button#css-button-test {
    
}

aside#sidebar {

}

section#sidebar-item {

}

button#sidebar-button {
    color: red;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 44px;
}

footer#footer {
    width: var(--global-width);

    display: flex;
    flex-direction: column;
    align-items: center;

    border-color: greenyellow;
    border-width: 1px;
    border-style: solid;
}

h2#footer-title {
    color: rgb(202, 202, 202);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

p.footer-subtitle {
    color: rgb(138, 138, 138);
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}